body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-darker);
  color: #dcddde;
  min-height: 100vh;

  .container-signin,
  .container-signup {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .container-form {
      display: flex;
      flex-direction: row;
    }
    .form-group {
      margin-bottom: 1rem;
    }
    input {
      flex: 1 1 auto;
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      margin-right: 0.5rem;
    }
    button {
      display: inline-block;
      font-weight: 400;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #007bff;
      border: 1px solid #007bff;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }

  .container-app {
    flex-direction: column;

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 22px;
      padding: 0.5rem;
    }

    .container-app-sub {
      flex-direction: row;

      .container-namespaces {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 72px;
        padding-top: 1.5rem;

        .list-namespaces {
          .item-namespace {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            margin-bottom: 15px;
            border-radius: 15px;
            transition: all 1s ease-out;

            &:hover,
            &.active {
              background-color: var(--color-light);
              cursor: pointer;
              transition: all 0.1s;
            }

            img {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
      .container-rooms {
        display: flex;
        flex-direction: column;
        color: #8e9297;
        border-top-left-radius: 8px;
        width: 240px;
        background-color: #2f3136;

        header {
          @include header-content;

          h2 {
            margin: 0 0 0 17px;
          }
        }

        .container-rooms-sub {
          flex: 1 1 auto;
          padding: 2rem 1.2rem;

          .list-rooms {
            font-weight: 500;

            .item-room {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 32px;
              padding: 8px;
              margin: 2px 0;

              &:hover,
              &.active {
                cursor: pointer;
              }
              &:hover {
                color: #d7d5d9;
                background-color: #34363c;
              }
              &.active {
                color: var(--color-white);
                background-color: #3a3c43;
              }

              .hashtag {
                width: 20px;
                height: 20px;
                color: #73767d;
                margin-right: 0.5rem;
              }

              span {
                line-height: 0.3rem;
              }
            }
          }
        }

        footer {
          height: 53px;
          background-color: var(--color-dark);
        }
      }
      .container-channel {
        flex-direction: column;
        background-color: var(--color-light);

        header {
          @include header-content;
          justify-content: start;

          .container-channel-sub {
            align-items: flex-end;

            .hashtag {
              color: #73767d;
              margin: 0 0.8rem 0 1.2rem;
            }
            h2 {
            }
          }
        }
      }
      .container-channel-sub {
        .container-chat {
          flex-direction: column;

          .list-messages {
            flex: 1 1 auto;
            max-height: calc(100vh - 160px);
            overflow-y: auto;
            padding: 1.5rem;

            .item-message {
              display: flex;
              flex-direction: row;
              margin-bottom: 2rem;

              .message-avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin: 0 1.5rem 0 0.5rem;
              }
              .message-time {
                font-size: var(--font-size-little);
                color: #73767d;
                margin-right: 0.5rem;
              }
              .message-author {
                display: inline-block;
                color: var(--color-white);
                font-weight: 500;
                margin-right: 1.5rem;
                cursor: pointer;

                &:hover {
                  text-decoration: underline;
                }
              }
              .message-data {
                flex: 1 1 auto;
                color: #dcddde;
                margin-top: 0.3rem;
              }
            }
          }
          .chat-input {
            display: flex;
            flex-direction: row;
            height: 44px;
            margin: 0 2rem;

            input {
              flex: 1 1 auto;
              display: block;
              width: 100%;
              padding: 0.375rem 0.75rem;
              font-weight: 400;
              line-height: 1.5;
              color: #dcddde;
              background-color: var(--color-lighter);
              background-clip: padding-box;
              border: 0;
              border-radius: 0.7rem 0 0 0.7rem;
              outline: 0;

              &::placeholder {
                color: #72767d;
              }
            }
            button {
              display: inline-block;
              text-align: center;
              vertical-align: middle;
              color: #b9bbbe;
              background-color: var(--color-lighter);
              border: 0;
              border-radius: 0 0.7rem 0.7rem 0;
              padding: 0.375rem 0.75rem;
              line-height: 1.5;
              cursor: pointer;
            }
          }
        }
        .container-users {
          width: 240px;
          color: #8e9297;
          background-color: var(--color-grey);
          padding: 2rem 1.2rem;
        }
      }
    }
  }
}
.container-fluid {
  padding: 0;
}
.item-room:hover,
.item-room.active {
  background-color: #36393f;
  cursor: pointer;
  border-radius: 5px;
}
#logout {
  cursor: pointer;
}
