* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-regular);
  scrollbar-color: var(--color-grey) var(--color-darker);
  scrollbar-width: 8px;
}
h2 {
  font-size: var(--font-size-regular);
  font-weight: 600;
  color: var(--color-white);
}
h3 {
  font-size: var(--font-size-little);
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}
ul {
  list-style: none;
}
a {
  color: #ddd;
}
a:hover {
  color: #ddd;
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--color-grey);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-darker);
}
