:root {
  --color-darker: #202225;
  --color-dark: #292b2f;
  --color-grey: #2f3136;
  --color-light: #37393f;
  --color-lighter: #41444b;
  --color-white: #ffffff;
  --font-family-primary: 'Catamaran', sans-serif;
  --font-size-regular: 1.6rem;
  --font-size-little: 1.2rem;
  --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);

  --font-size-subtitle: 1.6rem;
  --font-size-title: 1.8rem;
  --font-size-section: 3rem;
  --background-black: #222;
  --background-gray: #f7f7f7;
  --border-radius-rounded: 3px;
  --border-radius-circle: 50%;
}
