<section class="container container-chat">
  <ul class="list-messages"></ul>
  <div class="chat-input">
    <input type="text" name="text" placeholder="Envoyer un message" />
    <button>Envoyer</button>
  </div>
</section>
