<section class="container-rooms">
  <header>
    <h2>Channels</h2>
  </header>
  <div class="container-rooms-sub">
    <h3>Text channels</h3>
    <ul class="list-rooms"></ul>
  </div>
  <footer>
    <div>
      <% if (user) { %>
      <div id="logout">Deconnexion</div>
      <% } %>
    </div>
  </footer>
</section>
