<header>
  <a href="/">
    <img src="/images/logo.png" alt="Logo Dyma" />
  </a>
  <div>
    <% if (!user) { %>
    <a href="/users/new">Inscription</a>
    <a href="/auth/signin/form">Connexion</a>
    <% } %>
  </div>
</header>
