<html>
  <head>
    <title>Mon title</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <div class="container container-app">
      <%- include('partials/topbar.ejs', { user: null }) %>
      <div class="container container-signin">
        <h4>Connexion</h4>
        <div class="container-form">
          <form method="post" action="/auth/signin">
            <div class="form-group">
              <label>email : </label>
              <input type="email" name="email" />
            </div>
            <div class="form-group">
              <label>Password : </label>
              <input type="password" name="password" />
            </div>
            <% if (error) { %>
            <p style="color:red;"><%= error %></p>
            <% } %>
            <div>
              <button>Connexion</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
